<script src="../system/newsfeed/js/app_libs.js"></script>
<script>
oIP.includeJS('copy_of_app_search.js');
</script>

<!-- CONTROL_SETTINGS
objCnt/25
pObjCnt/25
lObjCnt/25
paging/false
allowRightPanning/true
allowLeftPanning/false
-->

<div id="gw_search" style="margin-top:44px;">

</div>

<script id="gw_search_tmpl" type="text/x-handlebars-template">    
    <ul class="articles nodeList">
        {{#if articles}}	
	    	{{#each articles}}        
    	        {{#if articleImage}}
    	            <li class="articles tabletArticles">
    	               <article data-href="javascript:void(0);" ontouchstart="">
    	                    <a href="javascript:void(0);" data-href="{{articleLink}}?search=true" ontouchstart="">
    	                        <div class="details">
    	                            <h2>{{articleTitle}}</h2>
    	                            <p class="byline">
    	                                {{#if articleAuthor}}<em>by</em> <strong>{{articleAuthor}}</strong> | {{/if}} <span class="date">{{articlePubDate}}</span>
    	                            </p>
    	                            <div class="image">
    	                                <img src="{{articleImage}}" />
    	                            </div>
    	                        </div>
    	                    </a>
    	                </article>
    	            </li>
    	        {{else}}
    	            <li class="articles tabletArticles noImage">
    	                <article data-href="javascript:void(0);" ontouchstart="">
    	                    <a href="javascript:void(0);" data-href="{{articleLink}}?search=true" ontouchstart="">
    	                        <div class="details">
    	                            <h2>{{articleTitle}}</h2>
    	                            <p class="byline">
    	                               {{#if articleAuthor}}<em>by</em> <strong>{{articleAuthor}}</strong> | {{/if}} <span class="date">{{articlePubDate}}</span>
    	                            </p>
    	                            <p class="articlesDesc">{{{desc}}}</p>
    	                        </div>
    	                    </a>
    	                </article>
    	            </li>
    	        {{/if}}
	        {{/each}}
        {{else}}
            <li class="emptyFav" style="display:block;">
                There are no search result matching for the term '{{searchterm}}'. Please try a different search.
            </li>
        {{/if}}
    </ul>
</script>