<script src="../system/newsfeed/js/app_libs.js"></script>
<script>
oIP.includeJS('copy_of_app_categoriesnewsfeed.js');
</script>



<!-- CONTROL_SETTINGS
objCnt/99
pObjCnt/99
lObjCnt/99
paging/false
allowRightPanning/true
allowLeftPanning/false
hideToolbar/false
-->

<div id="gw_categories">
</div>

<script id="gw_categories_tmpl" type="text/x-handlebars-template">
    {{#if nocontent}}
    	<article class="categoriesNoContent">
			<h1 class="_postTitleCustomTheme">There are no Articles/Posts to display. Please check your feed or post settings and try again.</h1>
		</article>
	{{else}}
        {{#if featuredTitle}}
            <div class="articleImg featuredWrapper">
                <article>
                    <a href="javascript:void(0);" data-href="{{featuredLink}}" ontouchstart="">
                        <div class="label violetLabel">
                            {{featuredTitle}}
                        </div>
                        <img src="{{featuredImage}}" style="margin-top:40px;" />
                        {{#if video}}
                            <div class="video_overlay"></div>
                        {{/if}}
                        <div class="featuredDesc">
                            <h1>{{featuredCaption}}</h1>
                            <p class="byline">
                                 {{#if featuredAuthor}}<em>by</em> <strong>{{featuredAuthor}}</strong> | {{/if}} <span class="date">{{featuredPubDate}}</span>
                            </p>
                        </div> 
                    </a>
                </article>        
            </div>
        {{/if}}
    <ul class="nodeList">
        {{#each articles}}
        <li class="categories articles">
            <article>
                <a href="javascript:void(0);" data-href="{{link}}" ontouchstart="">
                    <div class="label" style="background-color:{{color}}">
                        {{title}}
                    </div>
                    <div class="details">
                        <h2>{{caption}}</h2>
                    </div>                     
                    {{#if image}}
                        <div class="image">
                            <img src="{{image}}" />
                            {{#if video}}
                                <div class="video_overlay"></div>
                            {{/if}}
                        </div> 
                    {{else}}
                    	<p class="articlesDesc">{{{desc}}}</p>
                    {{/if}}
                </a>
            </article>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</script>